<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataTable Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script>
     $('#example').dataTable( {
    paging: false,
    searching: false
} );
    </script>
</head>
<body>
    {{ table_html | safe }}
</body>
</html>

